* {
margin: 0;
padding: 0;
}

/* As hex codes */

.color-primary-0 { color: #1A1A1A }	/* Main Primary color */
.color-primary-1 { color: #323F54 }
.color-primary-2 { color: #4772BA }
.color-primary-3 { color: #345387 }
.color-primary-4 { color: #5B91ED}

body {
    //    background-color: #f9f9f9; /* 全体の背景色 */
    color: #1A1A1A;
}

@media screen and  (min-width: 240px) and (max-width: 999px) {
    /*　画面サイズ 500pxから999pxまで適用　*/
    article {width: 90%;}
    header {width: 90%;}
    footer nav {width: 90%;}
    .disqus-wrapper{width: 90%;}
}
@media screen and (min-width:1000px) {
    /*　画面サイズ 1000px以上から適用　*/
    article {width: 63%}
    header  {width: 63%;}
    footer nav{width: 63%;}
    .disqus-wrapper{width: 63%;}
}

article {
    margin: auto;
    padding: 0;
    background-color: #ffffff; /* 全体の背景色 */
    color: #323F54;
    line-height: 1.7;
    font-family: YuGothic,游ゴシック,Meiryo,メイリオ,Hiragino Kaku Gothic Pro,ヒラギノ角ゴシック,sans-serif;
}

header {
    margin: auto;
    padding: 0;
}

nav {
    overflow: hidden;
    postion: absolute;
    right: 0;
    top: 0;
}

header nav {
    background-color: #f9f9f9;
}

footer {
    width: 100%;
    margin-top: 100px;
}

footer nav {
    background-color: #f9f9f9;
    margin: auto;
}

.back {
    list-style-type: none;
    text-align: center;
}

nav ul {
    width: 100%;
}

nav ul li {
    float:right;
    width: 120px;
}

nav ul li a{
    padding: 5px;
    display: block;
}

ul li {
    list-style-type: circle;
    margin: 2px 0px 2px 48px;
}


ul li.menu {
    list-style-type: none;
    font-family: serif;
    margin: 0.2em 0 0.2em 0;
    text-align: center;
    width: 92px;
    
}

li.menu + li.menu {
  border-right:1px solid #4772BA;
}


.org-ul ul li {
    display: inline;
    list-style-type: circle;
    margin: 0.8em 0 0 0;
    line-height: 1.5; /*文の行高*/
    padding: 0.5em 0; /*前後の文との余白*/
}

a {
    font-weight: normal;
    color: #345387;
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}

p {
    margin: 0.8em 0;
}

p.copyright {
    margin: 5px 0;
}

pre.src {
    margin: 10px 2em;
    background-color:  #DDE0E6;
}

blockquote {
    font-family: "Georgia",serif;
    color:  #DDE0E6;    
}
@media screen and  (min-width: 240px) and (max-width: 999px) {
    h1.title {
	font-family: "Georgia",serif;
	font-size: 48px;
	padding-top: 1.5em;
	padding-bottom: .9em;
	text-align: center;
	width: 80%;
	height: 52px;
	margin: auto;
    }
}
@media screen and  (min-width: 1000px) {
    h1.title {
	font-family: "Georgia",serif;
	padding-top: .6em;
	padding-bottom: .6em;
	text-align: center;
	width: 60%;
	height: 30px;
	margin: auto;
    }
}


h1 {
    font-family: "Georgia",serif; 
    padding-bottom: .5em;
    text-align: center;
    color: #323F54;
}

h2 {
    font-family: "Georgia",serif; 
    position: relative;
    padding: .25em 0 .5em .75em;
    margin: 48px 0 0 0;
    color: #323F54;
}
h2::after {
	position: absolute;
	left: 0;
	bottom: 0;
	content: '';
	width: 100%;
	height: 0;
	border-bottom: 1.2px solid #A8ACB7;
}

/* h3 { */
/*     font-family: "Georgia",serif; */
/*     color: #696969; */
/*     font-size: small; */
/* } */

h3 {
	padding: .20em 0 .20em .75em;

}

h4 {
    font-family: "Georgia",serif;
    color: #696969;

}

#postamble {
    margin: 3em 0 0 0;
    color: lightgray;
    text-align: right;
}

.timestamp {
    margin: 0 4px;
    font-family: "Georgia",serif;
    color: #696969;
    font-size: small;
}

img {
    display: block;
    margin: 0 auto;
    width: 300px;
}

.disqus-wrapper {
    margin: auto;
    margin-top: 20px;
    width: 63%;
    padding: 0;
    background-color: #f9f9f9; /* 全体の背景色 */
    color: #555;
}

.diary-list {
    font-size: 18px;
    margin-bottom: 12px;
}

.diary-class {
    font-size: 10px;
    margin-left: 24px;
    font: #242424
}

