* {
margin: 0;
padding: 0;
}

/* As hex codes */
:root {
    --main-black: #1A1A1A;
    --primary: 	#404040;
    --secondary: #808080;
    --accent: #426aac;
    --main-bg: #FBFBFB;
}

body {
    background-color: var(--main-bg); /* 全体の背景色 */
    color: var(--main-black);
}

@media screen and  (min-width: 240px) and (max-width: 479px) {
    /*　画面サイズ 240pxから479pxまで適用　*/
    article {width: 90%;}
    header {width: 100%;}
    footer nav {width: 100%;}
    .disqus-wrapper{width: 90%;}
}
@media screen and (min-width:480px) {
    /*　画面サイズ 480px以上から適用　*/
    article {width: 68%; min-width: 620px}
    header  {width: 68%; min-width: 620px}
    footer nav{width: 68%; min-width: 620px}
    .disqus-wrapper{width: 68%; min-width: 620px}
} 

article {
    margin: auto;
    padding: 0;
    background-color: var(--main-bg); /* 全体の背景色 */
    color: var(--primary);
    line-height: 1.7;
    font-family: YuGothic,游ゴシック,Meiryo,メイリオ,Hiragino Kaku Gothic Pro,ヒラギノ角ゴシック,sans-serif;
}

header {
    margin: auto;
    padding: 0;
}

nav {
    overflow: hidden;
    postion: absolute;
    right: 0;
    top: 0;
}

footer {
    width: 100%;
    margin-top: 100px;
}

footer nav {
    background-color: #f9f9f9;
    margin: auto;
}

.back {
    list-style-type: none;
    text-align: right;
}

nav ul {
    width: 100%;
}

nav ul li {
    float:right;
    width: 5em;
}

.diary-items {
    display: inline;
    margin: 10px;
}

ul li.diary-items {
    list-style: none;
    padding-left: 0;
}

li+ li.diary-items:before {
    content: "/";
}

li.diary-items:before {
    content: none;
}

h3.diary-year {
    border-left: none;
}

@media screen and  (min-width: 240px) and (max-width: 479px) {
    .top-image {
	height: 70vh;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('/data/top.jpg');
	margin-bottom: 5vh;
    }
    .cell-wrapper {
	display: none;
    }
    h1 nav {
	font-size: medium;
    }

}
@media screen and (min-width:480px) {
    .top-image {
	height: 50vh;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('/data/top.jpg');
    }
    .cell-wrapper {
	margin-top: 8px;
	margin-bottom: 12vh;
	display: flex;
    }
    .cell{
	text-align: center;
	font-family: serif;
	padding: 8px;
	display: flex;
	width: 100%;
	padding: 8px;
	align-items: flex-end;
	justify-content: center;
    }
    h1 nav {
	font-size: medium;
	float: right
    }
} 

span.more {
    font-size: small;
}

nav ul li a{
    padding: 2px;
    display: block;
}

ul li {
    list-style: none;
    padding-left: 2em;
}

li:before {
    content: "●";
    font-size: small;
    padding-right: 0.8em;
    color: var(--secondary);
}

li.menu:before {
    content: none;
}

li.diary-list:before {
    content: none;
}

ul li.menu {
    list-style-type: none;
    font-family: serif;
    margin: 0.2em 0 0.2em 0;
    text-align: right;
}

.org-ul ul li {
    display: inline;
    list-style-type: circle;
    margin: 0.8em 0 0 0;
    line-height: 1.5; /*文の行高*/
    padding: 0.5em 0; /*前後の文との余白*/
}

a {
    font-weight: normal;
    color: var(--accent);
    text-decoration:none;
}
a:hover{
    text-decoration:underline;
}

p {
    margin: 1.3em 0;
}

p.copyright {
    margin: 5px 0;
}

pre.src {
    background-color: #F3F3F3;
    border: solid 1px #E2E2E2;
    padding: 8px;
    margin: 10px 2em;
    font-size: 0.8em;
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
    overflow-x: auto;
}

blockquote {
    font-family: "Georgia",serif;
    margin: 0em 2em;
    background: #E9E9E9;
    padding: 0em 2em;
}
@media screen and  (min-width: 240px) and (max-width: 479px) {
    .title {
	font-family: "Georgia",serif;
	width: 90%;
	margin: auto;
	padding-top: 1.5em;
	padding-bottom: .9em;
	text-align: left;
    }
}
@media screen and  (min-width: 480px) {
    .title {
	font-family: "Georgia",serif;
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: left;
	height: 30px;
	margin: auto;
    }
    nav ul li a {
	color: var(--secondary);
    }
}


.title {
    text-align: left;
    font-family: "Georgia",serif; 
    color: var(--primary);
    border-top: solid var(--primary) 2px;
    border-bottom: solid var(--primary) 2px;
}

a.title {
    border-top: none;
    border-bottom: none;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
}

h2 {
    font-family: "Georgia",serif; 
    position: relative;
    padding: .25em 0 .5em .75em;
    margin: 48px 0 0 0;
    color: #323F54;
}
h2::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 0;
    border-bottom: 1.2px solid var(--secondary);
}

h3 {
    padding: .20em 0 .20em .75em;
    margin: 0.5em 0 .5em 0;
    border-left: dotted 6px var(--accent);
}

h4 {
    padding: .20em 0 .20em .75em;
    font-size: large;
    color: #696969;
}

#postamble {
    margin: 3em 0 0 0;
    color: lightgray;
    text-align: right;
}

.timestamp {
    margin: 0 4px;
    font-family: "Georgia",serif;
    color: #696969;
    font-size: small;
}

img {
    display: block;
    margin: 0 auto;
    width: 300px;
}

.disqus-wrapper {
    margin: auto;
    margin-top: 20px;
    width: 63%;
    padding: 0;
    background-color: #f9f9f9; /* 全体の背景色 */
    color: #555;
}

.diary-list {
    list-style-type: none;
    font-size: 18px;
    margin-bottom: 12px;
}

.diary-class {
    font-size: 10px;
    font: #242424
}

nav.footer {
    border-top: solid var(--primary) 2px;
}

code {
    background-color: #F3F3F3;
    border: solid 1px #E2E2E2;   
}
